@import url('https://font.elice.io/css?family=Elice+Digital+Baeum');

*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  transition: all 0.3s ease;
  background: #808080b3;
  border-radius: 10px;
}
* ::-webkit-scrollbar-corner {
  background: #0000;
}

*::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, 0.1);
  border-radius: 10px;
}

* {
  box-sizing: border-box;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table,
button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: 'Elice Digital Baeum', sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

ol,
ul {
  list-style: none;
}

button {
  background: transparent;
  cursor: pointer;
}

input,
textarea {
  border: none;
  outline: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}
